<header
  style="
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.8;
  "
>
  <figure>
    <img
      style="width: 250px"
      src="https://res.cloudinary.com/dlamufioy/image/upload/v1710696746/file-upload/abrasa/qzfyl3mt6hx8frkbfb0c.png"
      alt="Abrasa Logo"
    />
  </figure>

  <p style="margin-bottom: 30px; width: 100%;">
    El equipo de Abrasa te saluda cordialmente, y te envia las instrucciones para la acción que quieres realizar. Por favor lee detenidamente y sigue los pasos.
  </p>
</header>
