# Server Configuration
PORT=3000
WEBSERVICE_URL=http://localhost:3000

# Database Configuration (MongoDB)
# In production / docker, make sure MONGO_USER and MONGO_PASSWORD match your database credentials
MONGO_URL=mongodb://root:your_mongodb_password@localhost:27017/abrasa-tickets?authSource=admin
MONGO_DB_NAME=abrasa-tickets
MONGO_USER=root
MONGO_PASSWORD=your_mongodb_password

# Authentication (JWT)
JWT_SEED=your_jwt_secret_seed_here

# Mailer Configuration (Nodemailer)
SEND_EMAIL=false
MAILER_SERVICE=gmail
MAILER_EMAIL=your_email@gmail.com
MAILER_SECRET_KEY=your_email_app_password

# Google OAuth Credentials
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_SECRET_ID=your_google_client_secret

# Cloudinary Configuration
CLOUDINARY_URL=cloudinary://api_key:api_secret@cloud_name

# ENVELOPMENT STATUS
NODE_ENV=development